package components

templ Base(title string) {
  <!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, inital-scale=1.0"/>
        <link rel="stylesheet" href="/static/style.css">
        <title>{title}</title>
    </head>
    <body>
      { children... }
    </body>
  </html>
}
