package components

templ Desktop() {
  @Base("test") {
    <div class="navbar"></div>
    <div class="desktop" x-data="{ nextZ: 10 }">
      @Window("Hello world", "main-window", 560, 15, 1) {
        <h1>halla</h1>
      }
      @Window("Terminal", "terminal-window", 1250, 80, 3) {
        @Terminal()
      }
      @Window("~/Projects", "projects-window", 95, 200, 2) {
        <h1>halla</h1>
      }
      @Window("Blog", "blog-window", 1250, 460, 4) {
        <h1>halla</h1>
      }
    </div>
  }
}

templ Terminal() {
  <div class="terminal">
    <code>
      ⠀⠀⡿⠀⠀⠀⠀⠈⢳⡄⠀⢰⡶⠶⠶⣤⣀⠀⠀⠀⢠⠞⠉⠀⠀⠀⠀⠀⢸⡇    kennet@desktop<br/>
      ⠀⢸⠇⠀⠀⠀⠀⠀⠀⠙⢦⡈⣷⠀⠀⠀⠉⠻⢦⣰⡏⠀⠀⠀⠀⠀⠀⠀⢸⡇    ╭──┬─────────────────────────────────╮<br/>
      ⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⣈⡿⠞⠛⠀⠀⠀⠀⠀⠙⠦⠀⠀⠀⠀⠀⠀⠀⢸⡇    │ │ NixOS 26.11 (Zokor)<br/>
      ⠀⣿⠀⠀⠀⠀⠀⠀⠀⠘⠛⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇    │󰏖 │ 15 ( ) 2349 ( ) <br/>
      ⠀⢸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠇    │ │ Linux 6.18.38<br/>
      ⠀⠀⢿⡀⠀⢠⣤⣤⣤⣤⣤⣤⡄⠀⠀⠀⠀⣰⣶⣶⣶⠒⢲⡖⠀⠀⠀⣠⠟⠀    │ │ AMD Ryzen 9 5950X<br/>
      ⣤⣤⣈⣳⡄⠀⡟⠀⢸⣿⣿⣿⡇⠀⠀⠀⠀⣿⣿⣿⣿⠀⠀⣷⠀⢠⡾⠯⣤⡄    │󰢮 │ GeForce RTX 3060 Ti Lite Hash Rate<br/>
      ⠹⣧⡉⠉⠁⠸⡇⠀⠀⢿⣿⣿⠀⠀⠀⠀⠀⠹⣿⣿⠏⠀⠀⣿⠀⠀⢀⣴⠏⠀    │ │ 4.04 GiB / 31.25 GiB (13%)<br/>
      ⠀⠈⢙⡷⢠⣄⣝⡄⠀⠀⠉⠁⠀⠉⠉⠀⠀⠀⠀⠀⠀⢠⣶⡴⠀⠐⢿⣅⠀⠀    │ │ 15 mins<br/>
      ⠀⢀⡿⠁⠀⠈⠁⠀⠀⠀⠀⠰⠤⠴⠖⠲⠶⠚⠁⠀⠀⠀⠉⢀⣀⢀⣀⣻⣦⠀    │󰪺 │ 44 days<br/>
      ⠀⠘⠓⠒⠛⠛⠶⣤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣤⡴⠶⠛⠉⠉⠉⠉⠁⠀    ╰──┴─────────────────────────────────╯<br/>
      ⠀⠀⠀⠀⠀⠀⠀⠀⠻⣍⡙⠋⠁⠀⠀⠀⠀⠀⠀⠀⠹⣆⠀⠀⠀⠀⠀⠀⠀⠀    ● ● ● ● ● ● ● ●<br/>
      ⠀⠀⠀⠀⠀⠀⠀⠀⢀⡼⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣆⠀⠀⠀⠀⠀⠀⠀<br/>
      ⠀⠀⠀⠀⠀⠀⠀⠀⠘⠛⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡄⠀⠀⠀⠀⠀⠀<br/>
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣷⠀⠀⠀⠀⠀⠀<br/>
    </code>
  </div>
}
