package components

templ TestStyle() {
  @Base("test") {
    <div class="layout">
      @Window("Terminal", "terminal") {
        <h1>halla</h1>
      }
      @Window("~/Projects", "projects") {
        <h1>halla</h1>
      }
      @Window("Hello world", "main") {
        <h1>halla</h1>
      }
      @Window("Blog", "blog") {
        <h1>halla</h1>
      }
    </div>
  }
}
