package components

import (
  "fmt"
)

templ Window(title string, windowId string, initialZ int) {
  <div
    class="window"
    id={windowId}
    x-data={ fmt.Sprintf("{ Z: %d }", initialZ) }
    @mousedown="Z = nextZ; nextZ++;"
    :style="{ zIndex: Z }"
  >
    <div
      class="title-bar"
    >
      <div class="close-button"></div>
      <div class="title-bar-text">{title}</div>
      <div class="minimize-button">
        <div class="minimize-innerbutton"></div>
      </div>
    </div>
    <div class="window-body">
      { children... }
    </div>
  </div>
}

