package components

templ Desktop() {
  @Base("Under construction...") {
    <div class="desktop" x-data="{ nextZ: 10 }">
      <div class="window-cluster">
        @Window("Hello world", "main-window", 2) {
          <div class="under-construction">
            <h1>Under construction...</h1>
          </div>
        }
        @Window("Terminal", "terminal-window", 4) {
          <div class="under-construction">
            <h1>Under construction...</h1>
          </div>
          // @Game()
        }
        @Window("~/Projects", "projects-window", 3) {
          @Projects()
        }
        @Window("Blog", "blog-window", 5) {
          <div class="under-construction">
            <h1>Under construction...</h1>
          </div>
          // @BlogFeed()
        }
      </div>
    </div>
  }
}


