:root {
  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base08: #fb4934;
  --base09: #fe8019;
  --base0A: #fabd2f;
  --base0B: #b8bb26;
  --base0C: #8ec07c;
  --base0D: #83a598;
  --base0E: #d3869b;
  --base0F: #d65d0e;

  --window-shadow: color-mix(in srgb, var(--base00) 80%, transparent);
  --pixel-size: 5px;
}

@font-face {
  font-family: "Iosevka";
  src: url("/static/IosevkaNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base02);
}

.window {
  display: flex;
  flex-direction: column;
  box-shadow: calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 2) 0px 0px var(--window-shadow);
  background-color: var(--base05);
  border-style: solid;
  border-color: var(--base00);
  border-width: var(--pixel-size);
}

.title-bar {
  background: repeating-linear-gradient(180deg,
      var(--base05),
      var(--base05) var(--pixel-size),
      var(--base00) var(--pixel-size),
      var(--base00) calc(var(--pixel-size) * 2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: var(--base00);
  border-width: 0px;
  border-bottom-width: var(--pixel-size);
  min-height: calc(var(--pixel-size) * 7);
  padding: 0 calc(var(--pixel-size) * 3);
}

.close-button {
  border-style: solid;
  border-color: var(--base00);
  border-width: var(--pixel-size);
  min-height: calc(var(--pixel-size) * 3);
  min-width: calc(var(--pixel-size) * 3);
  background: var(--base05);
  margin: var(--pixel-size);
  box-shadow: 0px 0px 0px var(--pixel-size) var(--base05);
}

.minimize-button {
  border-style: solid;
  border-color: var(--base00);
  border-width: var(--pixel-size);
  min-height: calc(var(--pixel-size) * 3);
  min-width: calc(var(--pixel-size) * 3);
  max-height: calc(var(--pixel-size) * 3);
  background: var(--base05);
  margin: var(--pixel-size);
  box-shadow: 0px 0px 0px var(--pixel-size) var(--base05);
}

.minimize-innerbutton {
  border-style: solid;
  border-color: var(--base00);
  border-width: var(--pixel-size);
  border-left: 0px;
  border-top: 0px;
  width: var(--pixel-size);
  padding-top: var(--pixel-size);
}


.title-bar-text {
  min-height: calc(var(--pixel-size) * 3);
  background: var(--base05);
  user-select: none;
}

.window-body {
  flex: 1;
  overflow: auto;
}

.navbar {
  background-color: var(--base00);
  width: 100%;
  height: calc(var(--pixel-size) * 7);
  z-index: 500;
}

.desktop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#terminal-window {
  /* width: 600px; */
  /* height: 350px; */
}

.terminal {
  background-color: var(--base01);
  color: var(--base05);
  height: 100%;
}

.terminal code {
  font-family: "Iosevka";
}

#projects-window {
  /* width: 500px; */
  /* height: 500px; */
}

#main-window {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  /* width: 800px; */
  /* height: 1000px; */
}

#blog-window {
  /* width: 600px; */
  /* height: 500px; */
}
